<mat-nav-list *ngIf="(notes$ | async).length">
  <div [class.mat-elevation-z3]="'n'+note.id===(fragment$|async)"
       [id]="'n'+note.id" *ngFor="let note of notes$ | async"
       fxLayout fxLayoutAlign="space-between center">
    <a mat-list-item [routerLink]="isSearchContext?[note.notebookId,'notes',note.id]:[note.id]">
      <mat-icon mat-list-icon color="primary" class="icon-mb">description</mat-icon>
      <div class="nb-item">
        <div class="nb-title">{{note.title}}</div>
        <div>{{note.text}}</div>
        <div class="nb-time">{{note.lastModifiedOn|dateTimeFormat}}</div>
      </div>
    </a>
    <button *ngIf="'n'+note.id===(fragment$|async)" mat-icon-button (click)="unHighlight()">
      <mat-icon>highlight_off</mat-icon>
    </button>
    <app-note-operations-menu class="icon-mb" [note]="note">
    </app-note-operations-menu>
  </div>
</mat-nav-list>
