<mat-card>
  <mat-card-header *ngIf="notebook$ | async as notebook">
    <mat-icon mat-card-avatar color="primary">description</mat-icon>
    <mat-card-title>{{notebook.name}}</mat-card-title>
    <mat-card-subtitle
      *ngIf="currentNote">{{currentNote.lastModifiedOn|date:appProps.lastModifiedDateFormat}}</mat-card-subtitle>
  </mat-card-header>

  <mat-spinner style="margin:0 auto;" *ngIf="spinner$|async"></mat-spinner>

  <form [formGroup]="form" *ngIf="form">
    <mat-form-field appearance="outline">
      <mat-label>Note title</mat-label>
      <input matInput
             placeholder="Note title"
             formControlName="titleInput">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Note content</mat-label>
      <textarea matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="10"
                placeholder="Note content"
                formControlName="textInput"></textarea>
    </mat-form-field>
  </form>

  <mat-card-actions align="end" *ngIf="form">
    <button mat-button color="primary" (click)="location.back()">Go back</button>
    <a mat-button color="primary" [routerLink]="'..'" [fragment]="'n'+id">Show in notebook</a>
    <button mat-button color="primary" (click)="updateNote()" [disabled]="notChanged()">Save</button>
  </mat-card-actions>

</mat-card>
