<mat-card>
  <div class="search-container" *ngIf="searchMode">
    <mat-form-field floatLabel="never">
      <button mat-button disabled matPrefix>
        <mat-icon matPrefix>search</mat-icon>
      </button>
      <input matInput type="text" [(ngModel)]="searchString" #search>
      <button mat-icon-button matSuffix style="margin-right: 8px" (click)="disableSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center"
       *ngIf="((notebooks$ | async).length) && !(spinner$|async) && !searchMode">
    <button mat-icon-button color="primary" fxFlex="0 0 auto" (click)="openCreateNotebookDialog()">
      <mat-icon>create_new_folder</mat-icon>
    </button>
    <h1 fxFlex="1 1 100%">All notebooks</h1>
    <button mat-icon-button color="primary" fxFlex="0 0 auto" (click)="enableSearch()">
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <mat-spinner style="margin:0 auto" *ngIf="spinner$|async"></mat-spinner>

  <div *ngIf="!(spinner$|async) && !(notebooks$ | async).length">
    <button mat-menu-item (click)="openCreateNotebookDialog()">
      <mat-icon color="primary">create_new_folder</mat-icon>
      <span>Create a notebook</span>
    </button>
  </div>

  <mat-nav-list *ngIf="!(spinner$|async) && (notebooks$ | async).length">
    <div *ngFor="let notebook of notebooks$ | async" fxLayout fxLayoutAlign="space-between center">
      <a mat-list-item [routerLink]="[notebook.id, 'notes']">
        <mat-icon mat-list-icon color="primary" class="icon-mb">folder</mat-icon>
        <span class="nb-size">{{notebook.size}}</span>
        <span class="nb-items"
              [ngClass]="{'nb-fetched':(notebooksConsistency$|async)[notebook.id]}">{{notebook.name}}</span>
      </a>
      <app-notebook-operations-menu class="icon-mb" [notebook]="notebook"></app-notebook-operations-menu>
    </div>
  </mat-nav-list>

</mat-card>
