<div class="m-a">
  <mat-card>
    <mat-icon>how_to_reg</mat-icon>
    <h1>Sign up for {{appProps.appName}}</h1>
  </mat-card>
  <mat-card class="mt-16">
    <form fxLayout="column" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input type="text" matInput placeholder="Your first name" class="form-control" formControlName="firstName">
        <mat-error>{{firstNameError}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Your last name" class="form-control" formControlName="lastName">
      </mat-form-field>
      <mat-form-field>
        <input type="email" matInput placeholder="Your email" class="form-control" formControlName="email">
        <mat-error>{{emailError}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Your password" class="form-control" formControlName="password">
        <mat-error>{{passwordError}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Confirm password" class="form-control"
               formControlName="confirmPassword" [errorStateMatcher]="errorMatcher">
        <mat-error>{{confirmPasswordError}}</mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Sing up</button>
    </form>
  </mat-card>
  <mat-card class="mt-16">
    <mat-card-content>
      Already registered?
      <a mat-button color="primary" routerLink="../login">Log in</a>.
    </mat-card-content>
  </mat-card>
</div>
