<mat-card>
  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="notebook$ | async as notebook">
    <a mat-button fxFlex="0 0 auto" [routerLink]="'../..'">
      <mat-icon>arrow_back</mat-icon>
    </a>
    <h1 fxFlex="1 1 100%">{{notebook.name}}</h1>
    <app-notebook-operations-menu fxFlex="0 0 auto" class="icon-mb"
                                  [notebook]="notebook"></app-notebook-operations-menu>
  </div>
  <mat-spinner style="margin:0 auto;" *ngIf="spinner$|async"></mat-spinner>
  <mat-nav-list *ngIf="!(spinner$|async)">
    <div *ngFor="let note of notes$ | async" fxLayout fxLayoutAlign="space-between center">
      <a mat-list-item>
        <mat-icon mat-list-icon color="primary" class="icon-mb">description</mat-icon>
        <div class="nb-item">
          <div class="nb-title">{{note.title}}</div>
          <div>{{note.text}}</div>
          <div class="nb-time">{{note.lastModifiedOn|date:'MM/dd/yy HH:mm:ss'}}</div>
        </div>
      </a>
      <app-note-operations-menu class="icon-mb" [note]="note">
      </app-note-operations-menu>
    </div>
  </mat-nav-list>
</mat-card>
