<mat-card>
  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="notebook$ | async as notebook">
    <a mat-button fxFlex="0 0 auto" [routerLink]="'../..'">
      <mat-icon>arrow_back</mat-icon>
    </a>
    <h1 fxFlex="1 1 100%">{{notebook.name}}</h1>
    <app-notebook-operations-menu fxFlex="0 0 auto" class="icon-mb"
                                  [notebook]="notebook"></app-notebook-operations-menu>
  </div>
  <mat-spinner style="margin:0 auto;" *ngIf="spinner$|async"></mat-spinner>
  <app-notes-nav-list *ngIf="!(spinner$|async)" [notes$]="notes$"></app-notes-nav-list>
</mat-card>
