<div>
  <mat-card class="an-bounce">
    <mat-icon>how_to_reg</mat-icon>
    <h1>Sign up for {{appProperties.appName}}</h1>
  </mat-card>
  <mat-card class="mt-16 an-scale-st1">
    <form fxLayout="column" [formGroup]="form" (ngSubmit)="onSubmit()">
      <formly-form fxLayout="column"
                   [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
      <button type="submit" mat-raised-button color="primary">Sing up</button>
    </form>
  </mat-card>
  <mat-card class="mt-16 an-scale-st2">
    <mat-card-content>
      Already registered?
      <a mat-button color="primary" routerLink="/login">Log in</a>.
    </mat-card-content>
  </mat-card>
</div>
