<div class="height-100" fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex="308px">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div class="large-icon-container">
        <mat-icon [inline]="true">account_circle</mat-icon>
      </div>
      <mat-card-title>Sign in to {{appProperties.appName}}</mat-card-title>
    </div>
    <form class="mt-16" fxLayout="column" fxLayoutGap="16px" [formGroup]="form" (ngSubmit)="onSubmit()">
      <formly-form fxLayout="column" fxLayoutGap="16px"
                   [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
      <button type="submit" mat-raised-button color="primary">Sing in</button>
    </form>
  </mat-card>
</div>
