<mat-toolbar color="primary">

  <div>
    <button mat-button fxHide.gt-xs>
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-button routerLink="/" fxHide.xs>
      <mat-icon>book</mat-icon>
      <span> {{appName}}</span>
    </a>
  </div>

  <div fxFlex></div>

  <ul fxLayout>
    <li>
      <button mat-button *ngIf="user$|async as user"
              [matTooltip]="user.email|prefix:'Email: '"
              #tooltip="matTooltip" (click)="tooltip.toggle()">
        <mat-icon>account_circle</mat-icon>
        <span fxHide.xs> {{[user.firstName, user.lastName].join(' ')}}</span>
      </button>
      <button mat-button (click)="logout.emit()" [matTooltip]="'Sign out'">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </li>
  </ul>

</mat-toolbar>
