<mat-nav-list *ngIf="(notebooks$ | async).length">
  <div *ngFor="let notebook of notebooks$ | async" fxLayout fxLayoutAlign="space-between center">
    <a mat-list-item [routerLink]="[notebook.id, 'notes']">
      <mat-icon mat-list-icon color="primary" class="icon-mb">folder</mat-icon>
      <span class="nb-size">{{notebook.size}}</span>
      <span class="nb-item"
            [ngClass]="{'nb-fetched':(notebooksConsistency$|async)[notebook.id]}">{{notebook.name}}</span>
    </a>
    <app-notebook-operations-menu class="icon-mb" [notebook]="notebook"></app-notebook-operations-menu>
  </div>
</mat-nav-list>
