<button mat-button [matMenuTriggerFor]="menu">
  <mat-icon>account_circle</mat-icon>
  <span style="margin-left:10px" fxHide.xs>{{[user.firstName, user.lastName].join(' ')}}</span>
</button>
<mat-menu #menu="matMenu">
  <div mat-menu-item>Name: {{user.firstName}}</div>
  <div mat-menu-item *ngIf="user.lastName">Last name: {{user.lastName}}</div>
  <div mat-menu-item>Email: {{user.email}}</div>
  <div mat-menu-item>Authorized as: {{token.rolesString}}</div>
  <div mat-menu-item *ngIf="user.lastSeenOn">Last visit: {{user.lastSeenOn|date:appProps.appDateFormat}}</div>
  <div mat-menu-item>{{token.exp|fromNow:'':'Token expires in '}}</div>
  <button mat-menu-item *ngIf="token.hasRoleUser" (click)="export.emit()">
    <mat-icon color="primary">save_alt</mat-icon>
    <span>Export notes to Excel</span>
  </button>
</mat-menu>
