<button mat-button [matMenuTriggerFor]="menu">
  <mat-icon>account_circle</mat-icon>
  <span style="margin-left:10px" fxHide.xs>{{[user.firstName, user.lastName].join(' ')}}</span>
</button>
<mat-menu #menu="matMenu">
  <div mat-menu-item>{{user.firstName|prefix:'Name: '}}</div>
  <div mat-menu-item *ngIf="user.lastName">{{user.lastName|prefix:'Last name: '}}</div>
  <div mat-menu-item>{{user.email|prefix:'Email: '}}</div>
  <div mat-menu-item>{{token.rolesString|prefix:'Authorized as: '}}</div>
  <div mat-menu-item>{{token.exp|date:'dd-MM-yy HH:mm:ss'|prefix:'Token expires: '}}</div>
  <button mat-menu-item *ngIf="token.hasUserRole" (click)="export.emit()">
    <mat-icon color="primary">save_alt</mat-icon>
    <span>Export notes to Excel</span>
  </button>
</mat-menu>
