<h2 mat-dialog-title>{{data.title}}</h2>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <input matInput
           [placeholder]="data.placeholder"
           (keydown.enter)="confirm()"
           formControlName="value">
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color="primary" (click)="close()">{{data.cancelButton}}</button>
  <button mat-button color="primary" (click)="confirm()">{{data.confirmButton}}</button>
</mat-dialog-actions>
