<div>
  <mat-card @formHeader>
    <mat-icon>notes</mat-icon>
    <h1>Sign in to {{appProperties.appName}}</h1>
  </mat-card>
  <mat-card class="mt-16" @formBody>
    <form fxLayout="column" [formGroup]="form" (ngSubmit)="onSubmit()">
      <formly-form fxLayout="column"
                   [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
      <button type="submit" mat-raised-button color="primary">Sing in</button>
    </form>
  </mat-card>
  <mat-card class="mt-16" @formFooter>
    <mat-card-content>
      New to {{appProperties.appName}}?
      <a mat-button color="primary" routerLink="/register">Create an account</a>.
    </mat-card-content>
  </mat-card>
</div>
