<mat-toolbar color="primary">

  <div>
    <button mat-button fxHide.gt-xs>
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-button routerLink="/" fxHide.xs>
      <mat-icon>book</mat-icon>
      <span style="margin-left:10px">{{appProps.appName}}</span>
    </a>
  </div>

  <div fxFlex></div>

  <ul fxLayout>
    <li>
      <app-user-menu *ngIf="user$|async as user"
                     [user]="user" [token]="token$|async"
                     (export)="exportAsExcel()"></app-user-menu>
      <button mat-button (click)="onLogout()" [matTooltip]="'Sign out'">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </li>
  </ul>

</mat-toolbar>
