/*fixed position at the top with a height of 56px*/
:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.mat-toolbar-single-row {
  height: 56px;
}

ul {
  list-style: none
}
